<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wise Timing System</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicion.ico') }}">
</head>
<body>
    <h1>Welcome to the Wise Timing System</h1>
    <h2>Current Settings</h2>
    <ul>
        {% for setting in settings %}
            <li>Period {{ setting[0][7:] }}: {{ convert_seconds_to_time(setting[1]) }}</li>
        {% endfor %}
    </ul>
    <h2>Controls</h2>
    <form action="/end_server" method="post">
        <button type="submit">End Timer Server</button>
    </form>
    <form id="control-form-increase" action="/increase" method="post">
        <span>Increase period by time:</span>
        <input id="increase-time" placeholder="Enter the time in the format of HH:MM:SS" name="increase_time" type="text" required>
        <input id="period-input-increase" placeholder="Enter the period number to increase" name="period_number" type="number" required>
        <button type="submit">Increase</button> 
    </form>
    <form id="control-form-decrease" action="/decrease" method="post">
        <span>Decrease period by time:</span>
        <input id="decrease-time" placeholder="Enter the time in the format of HH:MM:SS" name="decrease_time" type="text" required>
        <input id="period-input-decrease" placeholder="Enter the period number to decrease" name="period_number" type="number" required>
        <button type="submit">Decrease</button> 
    </form>
    <form action="/remove_period" method="post">
        <span>Remove period:</span>
        <input id="period-input-remove" name="period-input-remove" placeholder="Enter the period number to remove" name="period_number" type="number" required>
        <button type="submit">Remove</button>
    </form>
    <form action="/create_period" method="post">
        <span>Create period:</span>
        <button type="submit">Create</button>
    </form>
</body>
</html>